y/
.DS_Store
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.idea/
.vscode/
*.swp
*.swo

# Terraform files
.terraform/
*.tfplan
tf.plan
*.tfstate
*.tfstate.backup

# Plan files
night4plan.md
night_5_plan.md 